

<!-- Modal -->
<div class="modal-dialog">
  <div class="modal-content-reviews">
    <div class="modal-body-reviews">

      <h5 class="text-center p-4"><%= spirit.name%></h5>
        <img class="d-flex justify-content-center" src="<%=spirit.image_url%>">
        <%= simple_form_for [spirit, Review.new] do |f| %>
          <div data-controller="slider">
            <div class="d-flex flex-row ">
              <div class="me-2">
                Votre note:
              </div>
              <div class="text-center" data-slider-target="number">
                5
              </div>
            </div>
            <%= f.input :rating, collection: Review::AUTHORIZED_RATINGS, label: false, as: :range, include_blank: false, label_html: { class: 'form-label-review '}, input_html: { class: 'form-range', min:"0", max:"10", "data-action": "input->slider#change", "data-slider-target": "input" } %>
          </div>
          <%= f.input :content, placeholder: 'Décrivez votre experience avec ce spiritueux', label: "Commentaire", label_html: { class: 'form-label-review ' }, input_html: { class: 'form-input-review' } %>
          <%= f.submit "Submit review", class: "btn btn-default-reviews", data: { controller: 'alert', action: 'click->alert#hop'} %>
        <% end %>
    </div>
  </div>
</div>
