<div id="profil" class="d-flex flex-column">
  <div class="profil-header">
    <h1 class="text-center my-5" >Profil Aromatique </h1>
  </div>
  <div class="d-flex justify-content-around">
    <div style="width: 500px; height: 500px;">
      <canvas  id="myChartd"></canvas>
      <div id="datad" class="d-none">
        <%= @datad  %>
      </div>
      <div id="valued" class="d-none">
        <%= @valued  %>
      </div>
    </div>
    <div class="d-flex flex-column" style="width: 40%;">
      <div class= "mb-5">
      <h2>Synthese</h2>
      <p><%="Famille : Vous aimez les spiritueux majoritairement #{@user.alcool_profile[:family]}."%></p>
      </div>
      <div class= "" style= "position: relative;">
      <h3>Description</h3>
      <p><strong><%= @user.alcool_profile[:family] %></strong></p>
      <p>Vous êtes <strong><%= @user.alcool_profile[:accroche] %></strong></p>
      <p><%= @user.alcool_profile[:description] %></p>
      <p><%= @user.alcool_profile[:stars] %></p>
      <div class="d-flex">
        <img class="avatar-large photo1" alt="avatar-large" src="<%= @user.alcool_profile[:photo_one] %>" />
        <img class="avatar-large photo2" alt="avatar-large" src="<%= @user.alcool_profile[:photo_two] %>" />
      </div>
      </div>
    </div>
  </div>
</div>
