<%= render "shared/navbar" %>

<div class="container mb-5">
  <h1 class="text-center my-5" >Profil Aromatique </h1>
<div class="d-flex justify-content-around flex-row-reverse">
  <div class="d-flex flex-column" style="width: 40%;">
    <div class= "mb-5">
    <h2>Synthese</h2>
    <p><%="Famille : Vous aimez les spiritueux majoritairement #{@familie_order[0]} avec des arômes #{@familie_order[1]}."%></p>
    </div>
    <div class= "" style= "position: relative;">
    <h3>Description</h3>
    <p><strong><%= @choice.dig(:family) %></strong></p>
    <p>Vous êtes <strong><%= @choice.dig(:accroche) %></strong></p>
    <p><%= @choice.dig(:description) %></p>
    <p><%= @choice.dig(:stars) %></p>
    <div class="d-flex">
      <img class="avatar-large photo1" alt="avatar-large" style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;" src="<%= @choice[:photo_one] %>" />
      <img class="avatar-large photo2" alt="avatar-large" style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;" src="<%= @choice[:photo_two] %>" />
    </div>
    </div>
  </div>

  <div style="width: 500px; height: 500px;">
    <canvas  id="myChart"></canvas>

  </div>
</div>
<div class="text-center mt-4">
  <%=link_to "Recommendation", recommendations_path, class:"btn-default" %>
</div>

</div>

    <div id="data" class="d-none">
      <%= @data  %>
    </div>
    <div id="value" class="d-none">
      <%= @value  %>
    </div>

</div>


<script>

  var ctx = document.getElementById('myChart').getContext('2d');
  value = document.getElementById("data").innerHTML;
  value = value.split("-")
  bobo = document.getElementById("value").innerHTML;
  data = bobo.split("-")

  var myChart = new Chart(ctx, {
  type: 'radar',
  data: {
    labels: data,

    datasets: [{
      label: 'Your alcoholic profile',
      data: value,
      fill: true,
      backgroundColor: 'rgba(255, 99, 132, 0.2)',
      borderColor: 'rgb(255, 99, 132)',
      pointBackgroundColor: 'rgb(255, 99, 132)',
      pointBorderColor: '#fff',
      pointHoverBackgroundColor: '#fff',
      pointHoverBorderColor: 'rgb(255, 99, 132)'
    },],

  },

  options: {
      elements: {
        line: {
          borderWidth: 3
        }
      },
      plugins: {
        legend: {
            display: false
        },
      },
      scales: {
         r: {

            ticks: {
                display: false // Hides the labels in the middel (numbers)
            }
        }
      }
    },
  });
</script>
