<%= render "shared/navbar" %>

<div class="" data-controller='reco-carousel chart'>
  <div class="d-flex" style="height: calc(100vh - 64px);" data-reco-carousel-target='profile'>
    <div class="carre-gauche">
      <div class=" carre-text d-flex flex-column">
        <h1 class="mb-5" >Profil Aromatique - <span><em><%= @choice.dig(:family) %></em></span> </h1>
        <div>
          <h2 class="mb-5">Synthese</h2>
          <p><%="Famille : Vous aimez les spiritueux majoritairement #{@familie_order[0]} avec des arômes #{@familie_order[1]}."%></p>
        </div>
        <div class= "description" style= "position: relative;">
          <h3>Description</h3>
          <p>Vous êtes <strong><%= @choice.dig(:accroche) %></strong></p>
          <p class="mb-4"><%= @choice.dig(:description) %></p>
          <p class="mb-4"><%= @choice.dig(:stars) %></p>
        </div>
        <div class="d-flex">
          <img class="avatar-big photo1" src="<%= @choice[:photo_one] %>" />
        </div>

      </div>
    </div>
    <div class="carre-droite">
      <div style="width: 500px; height: 500px; margin: auto;">
        <canvas  id="myChart"></canvas>
      </div>

    </div>
  </div>


  <%# LOADING SCREEN %>
  <div class="carousel-container d-none" data-reco-carousel-target='carousel'>
    <div class="loading-text">Nous cherchons les meilleures spiritueux pour vous !</div>
    <div class="icon-cards">
      <div class="icon-cards__content">
        <div class="icon-cards__item"><img src="https://static.wixstatic.com/media/356965_98f49cd39c544636b2a8727347ffe9cd~mv2.png/v1/crop/x_27,y_0,w_229,h_283/fill/w_321,h_370,al_c,lg_1,q_85,enc_auto/cognac.png" alt=""></div>
        <div class="icon-cards__item"><img src="https://static.wixstatic.com/media/356965_06f18fcc6d4e4f1b949b45882f72d285~mv2.png/v1/crop/x_27,y_0,w_229,h_283/fill/w_321,h_370,al_c,lg_1,q_85,enc_auto/gin2.png" alt=""></div>
        <div class="icon-cards__item"><img src="https://static.wixstatic.com/media/356965_f8eb6086105d474cac72421087821703~mv2.png/v1/crop/x_27,y_0,w_229,h_283/fill/w_321,h_370,al_c,lg_1,q_85,enc_auto/absinthe.png" alt=""></div>
        <div class="icon-cards__item"><img src="https://static.wixstatic.com/media/356965_ca9079a3a1fd4ac7a0add6de9ee36229~mv2.png/v1/crop/x_28,y_0,w_227,h_283/fill/w_318,h_366,al_c,lg_1,q_85,enc_auto/rhum.png" alt=""></div>
        <div class="icon-cards__item"><img src="https://static.wixstatic.com/media/356965_06f18fcc6d4e4f1b949b45882f72d285~mv2.png/v1/crop/x_27,y_0,w_229,h_283/fill/w_321,h_370,al_c,lg_1,q_85,enc_auto/gin2.png" alt=""></div>

      </div>
    </div>
    <div class="progress"></div>
  </div>


  <div class="text-center btn-position mt-4">
    <%=link_to "Recommandations", '#', class:"btn-dash", 'data-reco-carousel-target':'buttonreco', 'data-action':'click->reco-carousel#loading' %>
    <%=link_to "Recommandations", recommendations_path, class:"btn-dash d-none", 'data-reco-carousel-target':'redirect'%>
  </div>

</div>

<div id="data" class="d-none">
  <%= @data  %>
</div>
<div id="value" class="d-none">
  <%= @value  %>
</div>
