<div class="container">

<div
  data-controller="chart"
  data-chart-data-value='{ "labels": ["January", "February", "March", "April", "May", "June", "July"], "datasets": [{ "label": "My First dataset", "backgroundColor": "transparent", "borderColor": "#3B82F6", "data": [37, 83, 78, 54, 12, 5, 99] }] }'
>
  <canvas
  data-controller="chart"
  data-chart-data-value="<%= @chart_data.to_json %>"
  data-chart-options-value="<%= @chart_options.to_json %>"
></canvas>

  <!-- You need to define this action -->
  <button data-action="chart#update">Update me!</button>
</div>

  <div class="spirit-card-grid">
    <% @spirits.each do |spirit| %>
      <div class="spirit-card">
        <img src="<%=spirit.image_url%>">
        <div class="spirit-card-infos">
          <div class="spirit-card-content">
            <div class="spirit-card-header">
              <h2><%= spirit.name%></h2>
              <p>4/5 <i id="rating" class="fa-solid fa-star"></i></p>
            </div>
            <p><%= spirit.country%></p>
            <div class="spirit-card-footer">
              <h2 class="card-trip-pricing"><%= spirit.price%>€</h2>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="spirit-card-producer avatar-bordered"/>
            </div>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>
